.noti__img__size {
    height: 50px;
    border-radius: 18px;
}

.noti__post__img {
    height: 50px;

}
/* 
.noti__main {
    display: flex;
   align-items: center;
}

.noti__color {
    display: flex;
} */



/* .noti__move {
    display: flex;
} */

.noti__post {
    display: flex;
    margin-left: 10px;
    align-items: center;
}

.noti__type {
    margin-left: 5px;
}

.noti__color {
    background-color: antiquewhite;
    height: 100px;
    width: 500px;
    
}