/* to-do // fix the bug the with cover button not being overlayed by the post form */

.profile__main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.prof__backgroundImg {
  position: relative;
  z-index: -2;
  top: 70px;
  width: 95%;
  height: 370px;
  min-height: 100%;
}

.background {
  object-fit: cover;
  height: 300px;
  width: 100%;
  border-radius: 12px;
}

.profile__coverBtn {
  position: relative;
  left: 40%;
  top: -43px;
  cursor: pointer;
}

.cover__btn {
  color: white;
  background-color: rgb(247, 151, 151);
  border-radius: 50%;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn__confirm {
  background-color: rgb(247, 151, 151);
  color: white;
  font-weight: 600;
  border-radius: 12px;
  border: rgb(247, 151, 151);
  position: relative;
  left: -15%;
  bottom: -6px;
  height: 25px;
  cursor: pointer;
}

.file__cover {
  display: none;
}
.prof__user {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.prof__info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 94%;
}

.prof__information {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  gap: 5px;
}
