.popUp__main {

}


.popUp__color {
  background-color: antiquewhite;
  min-height: 100px;
  border-radius: 12px;
  width: 440px;
}

.popUp__top {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid black;
}

.popUp__text {
  display: flex;
  gap: 40px;
  position: relative;
  left: 100px;

}

.popUp {
  cursor: pointer;
}

.following__zero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/*  */

.popUp__following {
  width: 100%;
  max-height: 500px;
  overflow-y: scroll;
  border-radius: 12px;
  min-height: 100px;
}

.popUp__leftInfo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  padding: 10px;
  overflow: hidden;
}

.popUp__user__img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.popUp__name {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-transform: capitalize;
}

.popUp__username {
  color: rgb(103, 103, 103);
}


.saved__active {
  border-bottom: 2px solid rgb(247, 151, 151);
  cursor: pointer;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.saved__noActive {
  cursor: pointer;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.btn__pop {
 border: none;
 background-color: rgb(247, 151, 151);
 border-radius: 12px;
 color: white;
 width: 80px;
 cursor: pointer;
}

@media screen and (max-width: 975px) {
  .popUp__color {
    width: 340px;
  }

  .popUp__top {
    display: flex;
    align-items: center;

    padding: 10px;
  }
}


.icon__up {
  cursor: pointer;
}