.post__img {
    width: 30px;
    border-radius: 12px;
}

.post__main {
/* padding: 10px; */
}

.post__main__div {
background-color: rgb(226, 226, 225);
margin-top: 3rem;
outline: black;
border-radius: 12px;
width: 400px;

}

.user__information {
    display: flex;
    gap: 1rem;
    padding: 10px;
}

.user__time {
 display: block;
 flex-direction: column;
 margin-top: 3px;
}

.post__likes {
    display: flex;
    gap: 10px;
    margin-top: 1rem;
    padding: 10px;
    cursor: pointer;
}

.post__bottom {
    margin-top: 1rem;
    padding: 10px;
}

.post__img__div {
    max-width:100%;
    max-height:100%;
    /* margin-top: 2rem; */
    object-fit: contain;
}

.post__text {
padding: 10px;
}


.toggle__comments {
    /* margin-top: 1.50rem; */
}

.icon {
position: absolute;
    z-index: 3;
    margin-left: 20rem;
    margin-top: -1rem;
    cursor: pointer;
}

.icon__saved {
    position: absolute;
    z-index: 10;

   margin-left: 22rem;
margin-top: -1rem;
cursor: pointer;
}