.nav__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    box-shadow: 1px 10px 10px rgb(174, 174, 174);
}





.nav__links__ul {
display: flex;
gap: 1rem;
margin-right: 2rem;
cursor: pointer;
}



.nav__logo__img {
    height: 100px;
}